<div class="city-edit">
  <h1>{{ title }}</h1>

  <p *ngIf="showLoadingIcon()"><em>Loading...</em></p>

  <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div *ngIf="showDuplicateCityError()" class="alert alert-danger">
      <strong>ERROR</strong>:
      A city with the same <i>name</i>, <i>lat</i>, <i>lon</i>, and <i>country</i> already exists.
    </div>

    <!-- Name Field -->
    <div class="form-group">
      <label id="nameLabel" for="name">City Name:</label>
      <br />
      <input type="text" id="name" formControlName="name" required placeholder="Name..." class="form-control" />

      <div *ngIf="formFieldHasError('name')" class="text-danger small">
        <div *ngIf="formFieldHasRequiredError('name') as errorMsg">
          {{ errorMsg }}
        </div>
      </div>
    </div>

    <!-- Latitude Field -->
    <div class="form-group">
      <label id="latLabel" for="lat">City Latitude:</label>
      <br />
      <input type="text" id="lat" formControlName="lat" required placeholder="Latitude..." class="form-control" />

      <div *ngIf="formFieldHasError('lat')" class="text-danger small">
        <div *ngIf="formFieldHasRequiredError('lat') as errorMsg">
          {{ errorMsg }}
        </div>
        <div *ngIf="formFieldDoesNotMatchPattern('lat', 'positive or nagative numbers with up to 4 decimals') as errorMsg">
          {{ errorMsg }}
        </div>
      </div>
    </div>

    <!-- Longitude Field -->
    <div class="form-group">
      <label id="lonLabel" for="lon">City Longitude:</label>
      <br />
      <input type="text" id="lon" formControlName="lon" required placeholder="Longitude..." class="form-control" />

      <div *ngIf="formFieldHasError('lon')" class="text-danger small">
        <div *ngIf="formFieldHasRequiredError('lon') as errorMsg">
          {{ errorMsg }}
        </div>
        <div *ngIf="formFieldDoesNotMatchPattern('lon', 'positive or nagative numbers with up to 4 decimals') as errorMsg">
          {{ errorMsg }}
        </div>
      </div>
    </div>

    <!-- Country Field -->
    <div class="form-group">
      <label for="countryId">Country:</label>
      <br />
      <mat-form-field *ngIf="countries">
        <mat-label>Select a country...</mat-label>
        <mat-select id="countryId" formControlName="countryId">
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="formFieldHasError('countryId')" class="text-danger small">
        <div *ngIf="formFieldHasRequiredError('countryId')">
          Please select a country
        </div>
      </div>
    </div>

    <!-- country select with standard HTML select + options -->
    <!-- <div *ngIf="countries" class="form-group">
      <label for="countryId">Country:</label>
      <br />
      <select id="countryId" formControlName="countryId" class="form-control">
        <option value="">--- Select a country ---</option>
        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>
    </div> -->

    <div class="form-group commands">
      <button type="submit" [disabled]="form.invalid" (click)="onSubmit()" class="btn btn-success" [textContent]="id ? 'Submit' : 'Create'"></button>
      <button type="submit" [routerLink]="['/cities']" class="btn btn-danger">Cancel</button>
    </div>

  </div>
</div>
